
 .title {
    background-color: transparent;
 }
 
h2 {
    background-color: lightgray;
}

h3 {
    background-color: lightpink;
}

#id-one {
    background-color: lightblue;
}

.class-one {
    background-color: yellow;
}

#id-two {
    background-color: lightsalmon;   
}

#id-two p, #id-two span {
    background-color: lightsalmon;   
}

#class-two {
    background-color: green;   
}

#class-two p, #class-two span {
    background-color: green;   
}

#id-three {
    background-color: red;
}

#class-one, p {
    background-color: yellow;
}
